<ion-view view-title="{{title}}">
    <ion-content class="padding  allegra-content-background"
        ng-class="{ 'allegra-recognizing-footer' : !isView }">
        <div class="list allegra-only-bottom-line allegra-transparent-item-background">
            <div class="row">
                <div class="col col-60">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{"name" | translate}}</span>
                        <input type="text" placeholder="{{'name' | translate}}"
                            ng-model="newContact.name" ng-readonly="isView">
                    </label>
                </div>
                <div class="col col-40">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{"id" | translate}}</span>
                        <input type="text" placeholder="{{'id' | translate}}"
                            ng-model="newContact.id" ng-readonly="isView">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{"address" | translate}}</span>
                        <input type="text" placeholder="{{'address' | translate}}"
                            ng-model="newContact.address.address" ng-readonly="isView">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{"city" | translate}}</span>
                        <input type="text" placeholder="{{'city' | translate}}"
                            ng-model="newContact.address.city" ng-readonly="isView">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{"email" | translate}}</span>
                        <input type="email" placeholder="{{'email' | translate}}"
                            ng-model="newContact.email" ng-readonly="isView">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{"phonePrimary" | translate}}</span>
                        <input type="tel" placeholder="{{'phonePrimary' | translate}}"
                            ng-model="newContact.phonePrimary" ng-readonly="isView"
                                ng-pattern="onlyNumbers">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{"phoneSecondary" | translate}}</span>
                        <input type="tel" placeholder="{{'phoneSecondary' | translate}}"
                            ng-model="newContact.phoneSecondary" ng-readonly="isView">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{"fax" | translate}}</span>
                        <input type="tel" placeholder="{{'fax' | translate}}"
                            ng-model="newContact.fax" ng-readonly="isView">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{"mobile" | translate}}</span>
                        <input type="tel" placeholder="{{'mobile' | translate}}"
                            ng-model="newContact.mobile" ng-readonly="isView">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{"observations" | translate}}</span>
                        <input type="text" placeholder="{{'observations' | translate}}"
                            ng-model="newContact.observations" ng-readonly="isView">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ion-list>
                        <div class="row no-bottom-line">
                            <div class="col">
                                <ion-checkbox ng-model="type.client" ng-readonly="isView">{{"client" | translate}}</ion-checkbox>
                            </div>
                            <div class="col">
                                <ion-checkbox ng-model="type.provider" ng-readonly="isView">{{"provider" | translate}}</ion-checkbox>
                            </div>
                        </div>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="allegra-bottom-button" ng-if="!isView">
        <button class="button button-full button-positive"
            ng-click="createContact()">
          {{"createContact" | translate}}
        </button>
    </div>
</ion-view>
