<ion-view view-title="{{ title }}">
    <div id="allegra-hideable-searchbar" class="allegra-top-padding allegra-show-subheader"
        ng-class="{'allegra-show-subheader': !slideHeader, 'allegra-hide-subheader' : slideHeader}">
        <div class="item-input-inset allegra-searchbar-padding-top">
            <label class="item-input-wrapper">
                <img src="img/lupa_search_address.png" class="allegra-icon-image-lupa" />
                <input type="text" ng-model="searchbar.term" placeholder="{{ 'enterText' | translate }}"
                    ng-change="searchTerm()" class="searchbar-input">
            </label>
        </div>
    </div>
    <ion-content class="padding allegra-scroll-padding-top allegra-content-background" scroll-watch>
        <ion-refresher on-refresh="doRefresh()" ng-if="!firstLoad"></ion-refresher>
        <div class="allegra-centered-spinner" ng-if="firstLoad">
            <ion-spinner></ion-spinner>
        </div>
        <div class="list">
            <al-contact-item contact="contact" index="$index"
                ng-repeat="contact in contacts"
                    ng-click="goToDetail()">
            </al-contact-item>
        </div>
        <div class="row" ng-if="!firstLoad">
            <div class="col col-100 spinner">
                <ion-infinite-scroll
                    on-infinite="loadMore()"
                    ng-if="moreDataCanBeLoaded()"
                    distance="1%">
                </ion-infinite-scroll>
            </div>
        </div>
    </ion-content>
    <div id="allegra-footer" class="allegra-show-add"
        ng-class="{'allegra-show-add': showAdd, 'allegra-hide-add' : !showAdd}">
        <button class="button button-clear button-balanced allegra-add-button"
            ng-click="createContact()">
            <i class="icon ion-ios-plus-outline allegra-add-icon"></i>
        </button>
    </div>
</ion-view>
