<ion-view view-title="{{'dashboard-title' | translate }}">
    <ion-content class="padding">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <div class=" item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Email">
            </label>
            <button class="button button-small">
                Submit
            </button>
        </div>
        <div class="list">
            <al-contact-item contact="contact" index="$index"
                ng-repeat="contact in contacts"
                    ng-click="goToDetail()">
            </al-contact-item>
        </div>
        <div class="row">
            <div class="col col-100 spinner">
                <ion-infinite-scroll
                    on-infinite="loadMore()"
                    ng-if="moreDataCanBeLoaded()"
                    distance="1%">
                </ion-infinite-scroll>
            </div>
        </div>
    </ion-content>
    <div id="footer">
        <button class="button button-clear button-balanced add-button"
            ng-click="createContact()">
            <i class="icon ion-ios-plus-outline add-icon"></i>
        </button>
    </div>
</ion-view>
