<ion-view view-title="{{'dashboard-title' | translate }}">
    <ion-content class="padding">
        <div class="row" ng-if="!loaded">
            <div class="col col-100 spinner">
                <ion-spinner icon="android"></ion-spinner>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100">
                <h2>Todos</h2>
            </div>
        </div>
        <div class="row" ng-if="loaded">
            <div class="col col-100 footer-spacer" >

            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="title">Footer</div>
    </div>
</ion-view>
