<a class="item item-thumbnail-left row row-center contact-item" href="#">
    <div class="col col-25">
        <img src="img/user.png" class="user-image">
    </div>
    <div class="col col-60">
        <h2>{{contact.name}}</h2>
        <p>{{"email" | translate}}{{contact.email}}</p>
        <p>{{"phone" | translate}}{{contact.phonePrimary}}</p>
        <p>{{"mobile" | translate}}{{contact.mobile}}</p>
    </div>
    <div class="col col-15">
        <button class="button button-clear button-assertive ">
            <i class="icon ion-android-remove-circle delete-icon"></i>
        </button>
    </div>
</a>
