/* Empty. Add your own CSS if you like */

.spinner svg {
  width: 13% !important;
  height: auto !important;
}

div.spinner {
  margin: auto;
  text-align: center;
}

.footer-spacer{
    height: 40px;
}

.button-footer {
  bottom: 0;
  border-top-width: 0px;
  border-bottom-width: 0;
  background-position: top;
  height: 44px;
}

#footer {
  position : absolute;
  bottom : 13px;
  right: 13px;
}

.bottom-button{
    position : absolute;
    bottom : 0;
    width: 100%;
}

.bottom-button .button{
    margin-bottom: 0px;
}

.add-icon::before{
    font-size: 4em !important;
    background-color: white !important;
}
.add-button{
    border-radius: 55px;
    background-color: white !important;
    min-height: 3.1em !important;
    padding: 0;
    margin: 0;
}

.user-image{
    width:100%;
    height: auto;
}

.delete-icon::before{
    font-size: 2.2em !important;
}

.contact-item{
    border-radius: 20px;
    margin-bottom: 10px;
}

.only-bottom-line .item{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.no-bottom-line .item{
    border-bottom: 0;
}

.recognizing-footer{
    margin-bottom: 50px;
}

input[readonly]{
    background-color: transparent !important;
}
